*{
    margin:0;
    padding:0;
}

body{
    min-height: 100vh;
    background: #25252b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Poppins",sans-serif;
}



nav{
    background-color: #139b99;
    box-shadow: 3px 3px 5px #0c5352;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    height: 80px;
    display: grid;
}

nav li h1{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: default;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

nav a:hover{
    color:#fff;
    font-size: 20px;
}


.button-history{
    font-weight: 600;
    background: #fff;
    color:#333;
    cursor:pointer;
    transition: 0.5s ease;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 15px 15px;
    box-shadow: 3px 5px 15px 3px #151b1b;
}

.button-history:hover{
    background: #ff2770;
    color:#fff;
    font-size: 18px;
}

/* .sidebar{
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
} */

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    /*flex-direction: column; */
    /* overflow-x: hidden; */
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px !important;
    display: block;
    transition: 0.3s;
    width: 100%;
    color: #151b1b !important;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}
  
.sidebar a:hover {
    color: #ff2770;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: -200px;
    font-size: 36px;
    color: #fff;
}

.sidebar h1{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px !important;
    display: block;
    transition: 0.3s;
    width: 100%;
    color: #151b1b !important;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    width: 100%
}

.sidebar li{
    width: 100%;
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    width: 100%
}

.sidebar-content .button{
    padding: 5% 10%;
    background: #fff;
    color:#333;
    display:flex;
    font-weight: 600;
    cursor:pointer;
    transition: 0.5s;
    position: relative;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 5px 5px 0 #1f2424;
}


.sidebar-content .button:hover{
    background: #ff2770;
    color:#fff;
    font-size: 18px;
}

.sidebar-category-content {
    height: min-content;
    display: grid;
    justify-content: space-around;
    right: -50px;
}

.menu-button{
    display: none;
}


.container-voucher{
    display: grid;
    grid-template-columns: 20% auto;
    align-items: start;
    grid-gap:3rem;
    margin: 50px;
}

.container-voucher-right{
    display: grid;
    grid-template-columns: auto 20%;
    align-items: start;
    grid-gap:3rem;
    margin: 50px;
}

.category-voucher{
    display: inline-block;
    width: auto;
    color:#333;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category-voucher .button{
    display: block;
    font-weight: 600;
    background: #fff;
    color:#333;
    cursor:pointer;
    transition: 0.5s;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 5px 5px 0 #1f2424;
}



.category-voucher .button:hover{
    background: #ff2770;
    color:#fff;
    font-size: 18px;
}

.category-voucher h1{
    color:#fff;
    padding:20px 10px;
    font-size: 25pt;
    align-content: space-between;
    text-align: center;
    height: min-content;
}

.category-content{
    height: min-content;
    display: grid;
    justify-content: space-around;
}

.category-count{
    display: flex;
    padding:10px;
    color:#ff2770;
}

.category-count p{
    font-size: 15pt;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-weight: 600;
}

.category-count input{
    position: relative;
    text-align: center;
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    color:#fff;
    background-color: #12b9b4;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    border: 3px solid #15f4ee;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 10px;
    box-shadow: 0 5px 5px 0 #1f2424;
}

.category-count input:hover{
    font-size: 18px;
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
        0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
    text-shadow: 0 0 5px #15f4ee,
        0 0 5px #15f4ee;
}

.voucher-claim{
    display: grid;
    color:#333;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 100%;
    /* min-width: max-content; */
}

.voucher-claim h1{
    width: 100%;
    height: 10%;
    color: #fff;
    padding: 20px 10px;
    font-size: 25pt;
    text-align: center;
}

.voucher-detail{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: start;
    margin-right: 5%;
    margin-left: 5%;
}

.voucher-card{
    min-height: 50vh;
    background-color: #f4f4f4;
    border-radius: 10px;
    /* box-shadow: 0px 2px 4px rgba(0,0,0,0.3); */
    overflow: hidden;
    transition: transform 0.65s ease;
    margin-bottom: 10px;
    box-shadow: 10px 10px 8px 3px #252122
}

.voucher-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.voucher-card:hover{
    transform: translateY(-20px);
}

.voucher-text{
    padding:15px;
    display: grid;
    grid-template-columns: repeat(2,60% 1fr 1fr);
}

.voucher-text h4{
    font-size: 16px;
    text-align: left;
    justify-content: center;
    align-self: center;
}

.card-button{
    position: relative;
    text-align: center;
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    color:#fff;
    background-color: #12b9b4;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    border: 3px solid #15f4ee;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 10px;
    box-shadow: 0 5px 5px 0 #382e31;
}

.card-button:hover{
    font-size: 18px;
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
        0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
    text-shadow: 0 0 5px #fff,
        0 0 5px #fff;
    
}

.remove-button{
    position: relative;
    text-align: center;
    width: auto;
    padding: 5px 10px;
    font-size: 16px;
    color:#fff;
    background-color: #c91c55;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    border: 3px solid #ff2770;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 10px;
    box-shadow: 0 5px 5px 0 #382e31;
}

.remove-button:hover{
    font-size: 18px;
    box-shadow: 0 5px 50px 0 #ff2770 inset, 0 5px 50px 0 #ff2770,
        0 5px 50px 0 #ff2770 inset, 0 5px 50px 0 #ff2770;
    text-shadow: 0 0 5px #fff,
        0 0 5px #fff;
    
}

.voucher-table{
    min-width: auto;
    max-height: calc(89% - .8rem);
    margin: .8rem auto;
    border-radius: .6rem;
    color: #fff;
    justify-content: center;
    justify-items: center;
    display: inline-flex;
    margin-right: 50px;
    margin-left: 50px;
    align-items: start;
}

table{
    width: 100%;
}

thead th{
    position:sticky;
    top:0;
    left:0;
    background-color: #666569;
}

/* table */
td img{
    width: 50px;
    height: 50px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table,td{
    text-align: left;
    padding-left: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-collapse: collapse;
    border: 2px solid #fff;
}

th{
    text-align: center;
    padding: 1rem;
    border-collapse: collapse;
    border: 2px solid #fff;
}

td .button_td{
    width: 100%;
    text-align: center;
    display: block;
}


@media (max-width: 1044px){
    .voucher-detail {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .sidebar{
        display: none;
    }
}


@media(max-width:800px){

    .navfull a img{
        display: none;

    }

    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: unset;
    }

    .sidebar{
        display: unset;
    }

    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }

    .container-voucher {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .category-voucher{
        display: none;
    }

    .voucher-claim{
        width: 100%;
        display: grid;
    }
    .voucher-detail {
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
    }

}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}

@media(max-width:1000px){
    td:not(:first-of-type){
        min-width: 12.1em;
    }
}
